{{ template "header_sec.html" . }}

<section id="home-page-bg" class="d-flex flex-column align-items-center justify-content-center">
    <h2>GOPHER'S CLUB</h2>
    <h6>Welcome {{ .Email }}</h6>
    <div class="empty-space"></div>
    <p class="col-11 col-sm-10 col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tempor nec feugiat nisl pretium fusce. Varius duis at consectetur lorem donec massa sapien faucibus. Odio aenean sed adipiscing diam donec adipiscing tristique. In pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Sociis natoque penatibus et magnis. Sed risus ultricies tristique nulla aliquet enim tortor. Massa ultricies mi quis hendrerit dolor magna eget. Quam quisque id diam vel quam elementum pulvinar etiam non. In iaculis nunc sed augue lacus.</p>
    <p class="d-none d-sm-block col-sm-10 col-md-8">
        Justo eget magna fermentum iaculis eu. Vel orci porta non pulvinar neque laoreet. Metus dictum at tempor commodo ullamcorper a lacus. Dui ut ornare lectus sit amet est placerat in. Lorem donec massa sapien faucibus et molestie ac feugiat. Mi bibendum neque egestas congue. Pellentesque id nibh tortor id aliquet lectus proin nibh nisl. Eget nulla facilisi etiam dignissim diam quis enim lobortis. Vel fringilla est ullamcorper eget nulla facilisi. Magna sit amet purus gravida quis blandit turpis. Risus at ultrices mi tempus. Dolor sit amet consectetur adipiscing elit duis. Rhoncus mattis rhoncus urna neque viverra. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Quam nulla porttitor massa id neque aliquam vestibulum.
    </p>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <a href="/signout"><button type="submit" class="btn btn-outline-danger">Sign Out</button></a>
</section>

{{ template "footer_sec.html" }}